body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

*,*::after,*::before{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 76px;
    background-color: white;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
header img{
    width: 151px;
    height: 40px;
    margin-left: 23px;
    margin-right: 32px;
    /* margin: 18px auto; */
}
.menu__wrapper{
    display: flex;
}
.menu__wrapper a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-right: 32px;
    display: flex;
    white-space: nowrap;
    opacity: 0.5;
}
/* /sellnft start */
.section__sellNft{
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.section__sellNft h1{
    font-weight: 700;
    font-size: 80px;
    line-height: 96px; 
    color: #000000;
    text-align: center;
    text-shadow: -5px 5px 0px #FFFFFF;
    padding-top: 117px;
    margin: 0 auto;
}
.section__sellNft p{
    padding-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;      
    color: #532C59;
    text-align: center;
    margin-bottom: 32px;
}
.section__sellNft button{
    margin: 0 auto;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #532C59;
    border-radius: 15px;
    width: 114px;
    height: 52px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
}
.sellNft-bg {
    position: absolute;
    width: 1440px;
    height: 499px;
    left: 0px;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);    
    z-index: -1;
}
.section__sellNft img{

}
.sellNft_img3{
    position: absolute;
    width: 173px;
height: 174px;
left: 53px;
top: 5px; 
}
.sellNft_img4{
    position: absolute;
    width: 111px;
    height: 112px;
    right: 167px;
    top: 67px;
}
.sellNft_img2{
    position: absolute;
    width: 299px;
    height: 300px;
    left: -16px;
    top: 298px;
}
.sellNft_img1{
    position: absolute;
    width: 211px;
    height: 211px;
    right: 33px;
    top: 387px;
}
/* section_partners */
.wrapper2{

}
.section__partners{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    margin: 0 auto;
    margin-top: 101px;
    max-width: 1440px;

}
.section__partners img{
    margin-right: 40px;
}
.section__partners img:last-child{
    margin-right: 0px;
}
/* our team */
.section__team{
    display: flex;
    flex-flow: column;
    margin-top: 80px;
}
.nft__h2{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
}
.nft__h3{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin: 0;
    padding-bottom: 80px;
}
/* section_team starrt */
.wrapper_team{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
    padding: 0 70px;
    padding-bottom: 160px;
}
.team__wrapper{
    display: flex;
    flex-flow: column;
}
.team__wrapper p{
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 12px 0;
    white-space: nowrap;
}
.team__wrapper span{
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
}
.team__wrapper img{
    Width: 80px;
    Height: 80px;
    margin: 0 auto;
}
/* nft__collection */
.collection__h2{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}
.collection__h3{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin: 0;
    padding-bottom: 80px;
}
.section__collections{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}
.wrapper__collections{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    /* margin-bottom: 150px; */
}
.collection__wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 412px;
    margin: 0 16px;
    margin-bottom: 64px;
}
.collection__wrapper p{
    font-family: 'Syne';
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin: 0px;
    padding-bottom: 12px;
    margin-top: 16px;
}
.collection__wrapper span{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
    margin: 0px;
    padding-bottom: 64px;
}
/* provide section start*/
.wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 184px;
    max-width: 1440px;
    text-align: center;
    justify-content: space-between;

}
.provide__wrapper p{
    font-family: 'Space Grotesk';  
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 12px;
}
.provide__wrapper span{
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
}
.provide__wrapper{
    width: 301px;
    padding-right: 32px;
}
.section__provide>.collection__h3{
    padding-bottom: 60px;
}
/* start Testimonials*/
.section__Testimonials>.collection__h2{
    padding-bottom: 80px;
}
.card-holder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 70px;
    padding-bottom: 80px;
    max-width: 1440px;
    margin: 0 auto;

}
.section__Testimonials{
    display: flex;
    flex-flow: column;
}
.twitter-card{
    padding: 24px;
    width: 412px;
    background: #FCFAFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    margin-bottom: 32px;
    text-shadow: -5px 5px 0px #ececec60;
}
.twitter-card .headertw{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.user-icon{
    margin-right: 8px;
}
.name{
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.username{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}
.centertw p{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
    margin: 0;
    padding-top: 16px;
    white-space: nowrap;
}
/* qa start */
.section__answers .text__wrapper{
    display: flex;
    flex-flow: column;
    margin-right: 32px;
    white-space: nowrap;
}
.section__answers{
    display: flex;
    justify-content: center;
    padding: 0 70px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.section__answers .wrapper1{
    margin-right: 32px;
}
.section__answers .wrapper2{

}
.section__answers h2{
    font-family: 'Syne';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    margin: 0;
    white-space: nowrap;
}
.section__answers h3{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}
.qa__wrapper{
    padding: 24px;
    border: 2px solid #D6BCFA;
    border-radius: 15px;
    background: #FCFAFF;
    position: relative;
    max-width: 413px;
    height: fit-content;
    margin-bottom: 24px;
}
.qa__wrapper p{
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
    margin: 0;
    padding-bottom: 12px;
}
.qa__wrapper span{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    white-space: nowrap;
}
.qa__wrapper svg{
    position: absolute;
    top: 32px;
    right: 30px;
    cursor: pointer;
}

/* section ready start */
.section__ready{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 160px;
}
.ready__wrapper{
    background: #FCFAFF;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    border-radius: 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin: 0 auto;
    width: 1300px;
    height: 446px;
    position: relative;
}
.ready__wrapper h2{
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin: 0;

    margin-bottom: 16px;
}
.ready__wrapper h3{
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;

}
.ready__wrapper button{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #532C59;
    border-radius: 15px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 16px 20px;
}
.ready__wrapper img{
    position: absolute;
}
.ready__wrapper img:first-child{
    left: 0;
}
.ready__wrapper img:nth-child(2){
    right: 0;
}